<center> <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Apoya mi trabajo', '#29abe0', 'N4N5HUDJR');kofiwidget2.draw();</script>  </center>
