<style>
	p{
		display: inline-block;
		vertical-align:middle;
	}
</style>

{{ partial "header.html" . }}

<div class ="main">
<h1>{{ .Title }}</h1>

{{ .Content }}

{{range (.Paginate .RegularPagesRecursive).Pages}} 
<article class="post-album">
  <div>
    <h3>{{ .Title }}</h3>
	{{ .Content }}
  </div>
</article>
{{ end }}

{{ template "_internal/pagination.html" . }}

</div>
{{ partial "footer.html" . }}

