{{ partial "header.html" . }}
<div class = "main">
<h1>Página no encontrada</h1>

<p>Esta página no existe.</p>

<p><a href="/">Regresa a la página principal</a></p>

{{ partial "footer.html" . }}
</div>
