/*FONTS*/
@font-face {
    font-family: 'WorkSans';
    src: url('WorkSans-Regular.woff2') format('woff2'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('WorkSans-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

*{
	font-family: "WorkSans";
}

.main{
	color: #FFFFFF;
 	border-style: solid;
  	border-width: 5px;
	background-color: black; 
  	padding: 1rem;
  	text-align: justify;
}

.main img {
	max-height:100%;
	max-width:100%;
    object-fit: contain;
}

/* LAYOUT */
body {
	color: #FFFFFF;
	background-image: url("../FondoN.jpg");
	background-color: #080505;
	background-repeat: repeat;
 	background-size: contain;
  	font-size: 125%;
  	line-height: 1.5;
  	max-width: 45rem;
  	padding: 1rem;
  	margin: 0 auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a{
	text-decoration: none;
}

/* unvisited link */
a:link, a:visited {
  color: #0042B2;
}

/* mouse over link */
a:hover {
  background-color: rgba(37, 11, 0,0.8);
  color: #1469FB;
}

.content {
  margin-bottom: 2rem;
}

/* NAVIGATION */

.site-nav {
  display: flex;
}

.site-nav a {
  display: block;
  padding: 1rem;
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

.post-album {
  margin-bottom: 1em;
}

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}

/* PAGINATOR */
.pagination {
    display: flex;
    list-style: none;
    border-radius: .25rem;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .75rem 1rem;
    margin-left: -1px;
    line-height: 1.25;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: auto;
}

.page-item.active .page-link {
    z-index: 1
}

img[src$='#floatleft']
{
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: left;
    padding: .75rem 1rem;
	border-radius: 50%;
}
